.hero-img {
  background: url("../assets/profile.png");
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  width: 300px;
  border: 3px solid black;
  animation: animate 5s ease-in-out infinite;
  transition: all 4s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 70% 40% 60%/70% 40% 60% 30%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.marquee {
  color: #2d2e32;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  animation: marqueeAnimation 9s linear infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-125%);
  }
}
